<% content_for :head do %>
<meta keywords="Girls in White Pants"/>
<% end %>

<body>
<div class="fixed">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
			<h1><a href="#">GIWP</a></h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">Menu</a>
			</li>
		</ul>

		<section class="top-bar-section">
		<!-- Right Nav Section -->
			<ul class="right">
			<li>
				<a href-"#">Join the Cause</a></li>
			<!--
			<li class="has-dropdown">
				<a href="#">Right Button with Dropdown</a>
				<ul class="dropdown">
					<li><a href="#">First link in dropdown</a></li>
				</ul>
			</li>
			-->
			</ul>
		<!-- Left Nav Section
			<ul class="left">
				<li><a href="#">Left Nav Button</a></li>
			</ul>
			-->
		</section>
	</nav>
</div>

<div class="hero">
<iframe float="center" width="350" height="240" src="//w2.countingdownto.com/467227" frameborder="0"></iframe><p><a href="http://countingdownto.com">Countdown Clocks</a></p>
</div>

<div>
	
</div>


